#centerText {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 65%;
    justify-content: left;
    
}

div {
    background: rgba(0, 51, 128, 0.596);
    text-align: left;
    padding: 10px;
    margin: auto;
    width: 80%;
    height: 100%;
     /* The image used */
     background-image: url("https://i.imgur.com/Fwd6hH8.jpg");
  
     /* Full height */
     height: 100%;
   
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    
}

#boldHeader {
    background: rgba(0, 51, 128, 0.596)
    border: 1px solid black;
     
    padding: 10px;
    margin: auto;
    width: 25%;
}

header {
    
    background-color: #ECF0F1;
    text-align: center;
    margin: auto;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
    
}

h2 {
    font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 28px;
	line-height: 44px;
	letter-spacing: -2px;
    font-weight: bold;
    

}



.bg {
   
  }